@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik-Regular.woff2),
       url(./fonts/Rubik-Regular.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik-Light.woff2),
       url(./fonts/Rubik-Light.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik-Medium.woff2),
       url(./fonts/Rubik-Medium.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik-Bold.woff2),
       url(./fonts/Rubik-Bold.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}
